body {
    font-family: 'Roboto', sans-serif;

}

.title>h1 {
    background-color: lightblue;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: blue;
    overflow-x: hidden;
}

.main {
    margin-left: 200px;
}

.form-control.search {
    width: 25%;
    float: right;
}

.form-control.select {
    width: 25%;
    float: right;
}

table {
    width: 100%;
}

th,
td {
    border: 1px solid black;
    height: 50px;

}

th {
    text-align: center !important;
}
.add {
    width: 200px;
}