body {
    font-family: 'Roboto', sans-serif;

}

.title>h1 {
    background-color: lightblue;
    text-align: center;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    left: 10;
    background-color: skyblue;
    overflow-x: hidden;
}

.main {
    margin-left: 200px;
}

.search {
    width: 25% !important;
    float: right;
}

.form-control.select {
    width: 25%;
    float: right;
}

table {
    width: 100%;
}

th,
td {
    border: 1px solid black;
    height: 50px;

}

th {
    text-align: center !important;
}
.add {
    width: 200px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }